/* button */
.button{
background-color: #F5F4FA;
color: var(--title-text-color);
}
.button:hover,
.button:focus{
background-color: var(--accent-color);
color: var(--primary-white-color);
}
/* Перечень работ студии */
.studio-works .title{
color: var(--title-text-color);
background-color: var(--primary-white-color);

}
.studio-works-box{
border: 1px solid #EEEEEE;
box-sizing: border-box;
}